body {
    margin: 0;
    background: #050508;
    color: #00f2ff;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}

.hidden { display: none; }

/* SETUP */
#setup-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20,20,40,0.95);
    padding: 30px;
    border: 2px solid #00f2ff;
    border-radius: 20px;
    width: 340px;
    text-align: center;
    z-index: 100;
}

#setup-panel textarea {
    width: 100%;
    height: 120px;
    background: #000;
    color: #00f2ff;
    border: 1px solid #00f2ff;
    border-radius: 8px;
    padding: 6px;
}

/* CONTROLES */
#footer-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.95);
    border-top: 1px solid #333;
    padding: 10px 0 25px 0;
}

#progress-container {
    width: 90%;
    height: 12px;
    background: #222;
    margin: 10px auto;
    border-radius: 6px;
    cursor: pointer;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: #00f2ff;
}

#controls-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-ctrl {
    background: transparent;
    border: 1px solid #00f2ff;
    color: #00f2ff;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 11px;
    cursor: pointer;
}

.btn-ctrl:hover {
    background: #00f2ff;
    color: #000;
}

.btn-stop { border-color:#ff4444; color:#ff4444; }
.btn-change { border-color:#ffaa00; color:#ffaa00; }
.btn-main { background:#00f2ff; color:#000; }

/* HUD */
#hud {
    position: absolute;
    top: 20px;
    right: 360px;
    text-align: right;
}

#note {
    font-size: 60px;
    color: #ff00ff;
    font-weight: bold;
    text-shadow: 0 0 10px #ff00ff;
}

/* LETRA */
#lyrics-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 320px;
    max-height: 70%;
    background: rgba(0,0,0,0.7);
    border: 1px solid #00f2ff;
    border-radius: 14px;
    padding: 12px;
    overflow-y: auto;
}

#lyrics-panel h3 {
    text-align: center;
    margin: 0 0 10px 0;
}

#lyrics-box span {
    display: block;
    padding: 4px 6px;
    color: #aaa;
    border-bottom: 1px solid #333;
}
